.container {
    width: 350px;
    height: 250px;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px -2px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 15px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    position: relative;
}


.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    transition: .3s all ease-in-out;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .cardHeader img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 200px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 18px;
    margin: 0;
    color: #d1411e;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tagTeal {
    background-color: #47bcd4;
  }
  .tagPurple {
    background-color: #5e76bf;
  }
  .tagPink {
    background-color: #cd5b9f;
  }
  
  .cardBody p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  
  

.img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
    text-transform: uppercase;
    margin-top: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.desc {
    text-align: center;
    color: #777;
    margin-bottom: 60px;
}


@media screen and (max-width: 980px) {
    .container {
        max-width: 100%;
        margin: 10px 10px;
        height: 500px;
    }

    .container img {
        height: 350px;
    }

    .title {
        font-size: 18px;

    }
    
    .price,
    .desc {
        font-size: 16px;
    }

    .desc {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 680px) {
    .container {
        max-width: 70%;
        margin: 10px 10px;
        height: 300px;
    }

    .container img {
        height: 350px;
    }

    .title {
        font-size: 22px;

    }
    
    .price,
    .desc {
        font-size: 16px;
    }

    .desc {
        margin-bottom: 100px;
    }
}


@media screen and (max-width: 380px) {
    .container {
        max-width: 90%;
        margin: 10px 10px;
        height: 300px;
    }

    .container img {
        height: 350px;
    }

    .title {
        font-size: 22px;

    }
    
    .price,
    .desc {
        font-size: 16px;
    }

    .desc {
        margin-bottom: 100px;
    }
}