.container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper {
    background-color: #fff;
    width: 50%;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.item {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
}

.input {
    padding: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #999;
    
}

.input:focus {
    outline: #d1411e;
}


.btn {
    padding: 15px 25px;
    margin-left: 5px;
    border: 4px solid #d1411e;
    width: 100%;
    background-color: white;
    transition: .3s all ease-in-out;
}

.btn:hover {
    background-color: #d1411e;
    color: #fff;
}

@media screen and (max-width: 680px) {
    .wrapper {
        width: 100%;
        margin: 5px;
    }
}