.container {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    overflow: hidden;
    direction: ltr;
}

.arrowLeftContainer {
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.arrowRightContainer {
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
}

.wrapper {
    width: 300vw;
    height: 100%;

}

.imageContainer {
    display: flex;
    height: 100vh;
    width: 300vw;
    overflow-x: hidden;
    transition: .5s all ease-in-out;
}

.img {
    width: 100vw;
    object-position: bottom;
    object-fit: cover;
}

@media screen and (max-width: 480px) {
    .container {
        height: 50vh;
    }
}