html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel-container {
  direction: ltr;
}


.rc-slider {
    width: 80% !important;
    margin: 20px 20px ;
}

.rc-slider-track {
  background-color: #d1411e !important;
}

.rc-slider-handle,
.rc-slider-handle-2 {
  border: none !important;
}

.rc-handle-draging {
  border: none;
  box-shadow: none;
}

.rc-slider-handle:focus,
.rc-slider-handle-2:focus {
  border: none;
  outline: none;
}