.container {
    display: flex;
    flex-direction: row;
}

.right {
    flex: 1;
    max-width: 300px;
    background-color: rgba(197, 197, 197, 0.7);
    height: 160vh;
    color: black;
    display: flex;
    flex-direction: column;
}

.left {
    flex: 2;
    /* background-color: #999; */
}

.paginationContainer {
    display: flex;
    justify-content: center;
}

.page {
    margin-right: 10px;
    background-color: #d1411e;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.page1 {
    margin-right: 10px;
    background-color: #020418;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.searchTitle {
    margin-top: 30px;
    margin-right: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    margin: 10px 15px 5px 0;
}

.input {
    height: 40px;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #999;
}

.btn {
    width: 100px;
    height: 30px;
    margin-right: 15px;
    margin-top: 5px;
    border: 4px solid #d1411e;
    padding: 0 15px;
    background-color: white;
    transition: .3s all ease-in-out;
}

.btn:hover {
    background-color: #d1411e;
    color: #fff;
}

@media screen and (max-width: 980px) {
    .container {
        flex-direction: row;
    }

    .right {
        max-width: 100%;
    }

    .btn {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 560px) {
    .container {
        flex-direction: column;
    }

    .right {
        min-width: 100%;
    }

    .btn {
        margin-bottom: 40px;
    }
}