.container {
    height: calc(100vh - 100px);
    display: flex;
    position: relative;
}

.left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 1;
    padding: 20px;
}

.imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
}

.price {
    color: #d1411e;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #d1411e;
}

.sizes {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.size {
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #d1411e 1px solid;
    padding-bottom: 15px;
}

.choose {
    margin: 20px 0;

}

.desc {
    margin-top: 10px;
}

.ingredients {
    display: flex;
    margin-bottom: 10px;
}

.option {
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.alert {
    opacity: 1;
    visibility: visible;
    position: absolute;
    color: #fff;
    top: 5px;
    left: 50%;
    transition: 0.5s all ease-in-out;
    z-index: 100000;
    transform: translateX(-50%);
}

.none {
    visibility: hidden;
    opacity: 0;
}

.qty {
    width: 50px;
    height: 30px;
}

.btn {
    height: 30px;
    margin-right: 10px;
    border: 4px solid #d1411e;
    padding: 0 15px;
    background-color: white;
    transition: .3s all ease-in-out;
}

.btn:hover {
    background-color: #d1411e;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .container {
        height: auto;
        text-align: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .imgContainer {
        width: 70vw;
        height: 50vh;
    }

    .title {
        margin: 5px;
    }

    .sizes {
        width: 100%;
        padding: 10px 20px;
    }

    .ingredients {
        flex-direction: column;
    }

    .option {
        margin: 10px;
        font-size: 18px;
    }

    .alert {
        left: 15%;
        transform: translateX(0);
    }

    .checkbox {
        width: 25px;
        height: 25px;
    }

    .qty, .btn {
        height: 50px;
        padding: 10px 20px;
    }
}